@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


#map_body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    align-content: center;
    margin-top: 40px;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    align-content: center;
    margin-top: 60px;
    /* height: 1000px; */
  }  
#map {
    border: 3px;
    border-color: black;
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 50%;
    height: 50%;
  }
.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

.mapboxgl-popup {
    max-width: 200px;
  }
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

#index_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(250, 195, 195);
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar {
    float: left;
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar a:hover {
    background-color: rgb(250, 166, 166);
}

#form {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 15px;
    border-radius: 5px;
}

#login {
    display: flex;
    flex-direction: row;
}

#login label {
    width: 100px;
}

h1 {
    position: top;
    font-size: 25px;
    color: rgb(233, 90, 90);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#periodt{
    position: top;
    margin-top: 25px;
    font-size: 45px;
    color: rgb(233, 90, 90);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    position: relative;
    margin-top: 325px;
    border-spacing: 5px;
}