@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


html {



   background: #f8edeb;
    background-image: #f8edeb;
    -webkit-font-smoothing: antialiased;
}

#map_body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; 
    align-content: center;
    margin-top: 40px;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    align-content: center;
    margin-top: 80px;
    background-color: #f8edeb;;
  }  
#map {
    border: 3px;
    border-color: black;
    position: absolute;
    top: 150px;
    bottom: 0;
    width: 50%;
    height: 50%;
    margin-bottom: 50%;
  }
.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

.mapboxgl-popup {
    max-width: 200px;
  }
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

#index_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffcad4;
    position: fixed;
    top: 0;
    width: 100%;
}


#navbar {
    float: left;
    z-index: 1;
    background-color: #ffcad4;
    z-index: 1;
}

#navbar a {
    display: block;
    color: #5A4254; /* #9d8189, #5A4254 */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Change the link color to #111 (black) on hover */
#navbar a:hover {
    background-color: #f8edeb; /* rgb(250, 166, 166) */
}

#form {
    border-style: solid;
    border-width: 3px;
    border-color: #9d8189;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}


#login {
    display: flex;
    flex-direction: row;
    padding: 8px;
}

#login label {
    width: 100px;
    color: #9c4253;
    font-family: Lucida Bright, Georgia, serif;
}

#register {
    display: flex;
    flex-direction: row;
    color: #9c4253;
    font-family: Lucida Bright, Georgia, serif;
}

#register label {
    width: 175px;
}


.button {
  background-color: #9c4253;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 15px;
  font-family: Lucida Bright, Georgia, serif;;
}

h1 {
    /* padding: 30px; */
    position: top;
    font-size: 50px;
    color: #9c4253;
    font-family: Lucida Bright, Georgia, serif;
    text-align: center;
}
p, ul {
    text-align: center;
    color: #5A4254;
    font-size: 18px;
    font-family: Lucida Bright, Georgia, serif;

}
h2 {
    font-size: 25px;
    color: #9c4253;
    font-family: Lucida Bright, Georgia, serif;
    text-align: center;
}

#periodt{
    position: top;
    margin-top: 25px;
    font-size: 45px;
    color: #9c4253;
    font-family: Lucida Bright, Georgia, serif;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 50px;
}

th {
    text-align: left;
}

table {
    position: relative;
    margin-top: 50%;
    border-spacing: 5px;
}

span {
    color: #9c4253;
    font-weight: bold;
}

#resources {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 10%;
}

#info {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: left;
    align-content: center;
}


.grid_item img {
    width: 550px;
    object-fit: cover;
}

.grid_item {
    border: 5px;
    border-radius: 5px;
    border-color: #dd929e;
    border-style: solid;
    padding: 10px;
    margin: 15px;
}

.grid {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-items: center;
}
.faq {
    position: absolute;
    top: 150px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-items: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mb-0 {
    color: black !important;
}
.card {
    background-color: #F8edeb;
    font-family: lucida bright, georgia, serif;
    color: black;
}
.card-header {
    background-color: #9c4253;
    font-family: Lucida Bright, Georgia, serif;
    color: black;
}

.container {
    background-color: #f8edeb;
    width: 60%;
}

#faq-body {
    display: flex;
    flex-direction: column;
}

#request {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#request-form {
        font-family: Lucida Bright, Georgia, serif;;
        border-style: solid;
        border-width: 3px;
        border-color: #9d8189;
        padding: 20px;
        margin: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
        height: 50%;
}

#request-form label {
    width: 500px;
    color: #9c4253;
    font-family: Lucida Bright, Georgia, serif;
}

#request-body {
    display: flex;
    flex-direction: column;
}
